{% extends "layout.html" %}

{% block title%}
    Filter
{% endblock %}

{% block main %}
    <form action = "/books/filter" method = "GET">
        <br><label for = "average_rating">Average rating</label><br>
        <input name = "min_rating" type = "number" value = "0" placeholder = "rating" min = "0" max = "5">
        <input name = "max_rating" type = "number" value = "5" placeholder = "rating" min = "0" max = "5">
        <br><label for = "num_pages">Number of pages</label><br>
        <input name = "min_pages" value = "1" type = "number" placeholder = "Number of pages">
        <input name = "max_pages" value = "100000" type = "number" placeholder = "Number of pages">
        <br><label for = "publication_date">Publication date</label><br>
        <input name = "start_date" type = "date" value = "1800-01-01">
        <input name = "end_date" type = "date"> 
        <button type = "submit"> Filter </button>
    </form>

    {% for result in results %}
        <a href = "bookinfo/{{result[0]}}">{{result[1]}}</a></br>
    {% endfor %}
    
{% endblock %}