{% extends "layout.html" %}

{% block title%}
    Home
{% endblock %}

{% block main %}
    <form action = "/books/find" method = "POST">
        <input type = "text" name = "search" id = "find" placeholder = "Search">
        <button type = "submit">Search</button>
    </form>

    {% for result in results %}
        <a href = "bookinfo/{{result[1]}}">{{result[0]}}</a><br>
    {% endfor %}
    <div> <h1>Your books</h1></div>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Average rating</th>
            <th>Your Comment</th>
            <th>Your rating</th>
        </tr>
        {% for favorite in favorites %}
        <tr>
            <td><a href = "books/bookinfo/{{favorite[6]}}">{{favorite[0]}}</a></td>
            <td>{{favorite[1]}}</td>
            <td>{{favorite[2]}}</td>
            <td>{{favorite[3]}}</td>
            <td>{{favorite[4]}}</td>
            <td>{{favorite[5]}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}