<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {% endblock %}
    </title>
</head>
<body>
    <nav>
        {% if not session["user_id"] %}
           <ul>
                <li><a href = "/auth/register">Register</a></li>
                <li><a href = "/auth/login">Login</a></li>
           </ul>
        {% else %}
           <div>
                <li><a href = "/filter">Filter</a></li>
                <li><a href = "/search">My books</a></li>
                <li><a href = "/books/topbooks">Top rated</a></li>
                <li><a href = "/trending">Trending</a></li>
           </div>
           <div>
                <li><a href = "auth/logout">Logout</a></li>
           </div>
         
        {% endif %}
    </nav>
    <main>
        {% block main %}{% endblock %}

    </main>
    
    
</body>
</html>