{% extends "layout.html" %}

{% block title %}
    Recently published
{% endblock %}

{% block main %}
<h1> Recently published</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Average rating</th>
            <th>Publication date</th>
            <th>Publisher</th>
        </tr>
        {% for result in results %}
        <tr>
            <td><a href = "bookinfo/{{result[5]}}">{{result[0]}}</a></td>
            <td>{{result[1]}}</td>
            <td>{{result[2]}}</td>
            <td>{{result[3]}}</td>
            <td>{{result[4]}}</td>
        </tr>        
    {% endfor %}
    </table>
{% endblock %}